.pad{
    padding: 10%;
}

body{
    background-image: url("../images/background.jfif");
}

#footer{
    position: fixed;
    bottom: 0;
    width:100%;
    color: white;
    background: black;
}

a{
    text-decoration: none;
}